.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4D9DB;
}

.thanks {
  font-size: 7vh;
  color: #3C2A1D;
  height: 10vh;
  margin-bottom: 2vh;
}

.offer {
  font-size: 5vh;
  color: #896143;
  height: 10vh;
  margin-bottom: 2vh;
}

.next-btn {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
  border-color: #896143;
  border-width: 5px;
  border-style: solid;
  color: #896143;
  font-size: 30px;
  margin-bottom: 10vh;
}

.image-row {
  display: flex;
  flex-direction: 'row';
  margin-bottom: 3vh;
}

.card {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
  border-color: #896143;
  border-width: 5px;
  border-style: solid;
  color: #896143;
  font-size: 30px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.img {
  width: 20vw;
  border-radius: 10px;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}